<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="/static/img/favicon.png">
        <!-- Custom styles for this template -->
        <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                  <!-- <a class="navbar-brand" href="#">HuntMaster</a> -->
                  <a href="#" class="navbar-left"><img src="/static/img/huntmaster.png" height="70" width="100"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="https://github.com/Owen-Gillespie/HuntMaster">GitHub</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <p>Retrieving the location might take up to 10 seconds.</p>
                <p>The x-coordinate is {{ data.x_coordinate }}</p>
                <p>The y-coordinate is {{ data.y_coordinate }}</p>
                <p id="lat"></p>
                <p id="lon"></p>
                <button type="button" onclick="getLocation()">Get Location</button>
                <form action="{{ url_for('within') }}" method="post">
                    <input type="submit" class="btn btn-default" value="Submit Location">
                    <input type="hidden" id="x_coordinate" name="x_coordinate" value={{ data.x_coordinate }}>
                    <input type="hidden" id="y_coordinate" name="y_coordinate" value={{ data.y_coordinate }}>
                    <input type="hidden" id="latitude" name="latitude" value="">
                    <input type="hidden" id="longitude" name="longitude" value="">
                    <input type="hidden" id="target" name="target" value={{ target }}>
                    <input type="hidden" id="url" name="url" value={{ url }}>
                </form>
            </div>
        </div> <!-- /container -->
        <script>
            var lat = document.getElementById("lat")
            var lon = document.getElementById("lon")

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(setPosition, showError)
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser."
                }
            }

            function setPosition(position) {
                lat.innerHTML = "Latitude: " + position.coords.latitude
                lon.innerHTML = "Longitude: " + position.coords.longitude
                document.getElementById("latitude").setAttribute("value", position.coords.latitude)
                document.getElementById("longitude").setAttribute("value", position.coords.longitude)
            }

            function showError(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        x.innerHTML = "User denied the request for Geolocation."
                        break;
                    case error.POSITION_UNAVAILABLE:
                        x.innerHTML = "Location information is unavailable."
                        break;
                    case error.TIMEOUT:
                        x.innerHTML = "The request to get user location timed out."
                        break;
                    case error.UNKNOWN_ERROR:
                        x.innerHTML = "An unknown error occurred."
                        break;
                }
                return false;
            }
        </script>
    </body>
</html>
