<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="/static/img/favicon.png">
        <!-- Custom styles for this template -->
        <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                  <!-- <a class="navbar-brand" href="#">HuntMaster</a> -->
                  <a href="#" class="navbar-left"><img src="/static/img/huntmaster.png" height="70" width="100"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="https://github.com/Owen-Gillespie/HuntMaster">GitHub</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <p>Submit your location once you are within 20 meters to progress</p>
                <p>Your goal latitude is {{ data.x_coordinate }}</p>
                <p>Your goal longitude is {{ data.y_coordinate }}</p>
                <p id="lat"></p>
                <p id="lon"></p>
                <p id="dist"></p>
                <button type="button" onclick="getLocation()">Get Location</button>
                <form action="{{ url_for('within') }}" method="post">
                    <input type="submit" class="btn btn-default" value="Submit Location">
                    <input type="hidden" id="x_coordinate" name="x_coordinate" value={{ data.x_coordinate }}>
                    <input type="hidden" id="y_coordinate" name="y_coordinate" value={{ data.y_coordinate }}>
                    <input type="hidden" id="latitude" name="latitude" value="">
                    <input type="hidden" id="longitude" name="longitude" value="">
                    <input type="hidden" id="target" name="target" value={{ target }}>
                    <input type="hidden" id="url" name="url" value={{ url }}>
                </form>
            </div>
        </div> <!-- /container -->
        <script>
            var lat = document.getElementById("lat");
            var lon = document.getElementById("lon");
            var dist = document.getElementById("dist");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(setPosition, showError)
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser."
                }
            }

         function setPosition(position) {
                lat.innerHTML = "Your current Latitude: " + position.coords.latitude
                lon.innerHTML = "Your current Longitude: " + position.coords.longitude
                document.getElementById("latitude").setAttribute("value", position.coords.latitude)
                document.getElementById("longitude").setAttribute("value", position.coords.longitude)
             var meters = distance({{data.x_coordinate}}, {{data.y_coordinate}}, position.coords.latitude, position.coords.longitude, "m").toFixed(1);
                dist.innerHTML = "You are currently " + meters + " meters from your desination";
             if (meters <= {{data.radius}}) {

            }

         // Unit "M" for miles, "m" for meters, K" for km, "N" for naut. miles
            function distance(lat1, lon1, lat2, lon2, unit) {
                var radlat1 = Math.PI * lat1/180
                var radlat2 = Math.PI * lat2/180
                var theta = lon1-lon2
                var radtheta = Math.PI * theta/180
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                if (dist > 1) {
                dist = 1;
                }
                dist = Math.acos(dist)
                dist = dist * 180/Math.PI
                dist = dist * 60 * 1.1515
                if (unit=="m") { dist = dist * 1000 * 1.609344 }
                if (unit=="K") { dist = dist * 1.609344 }
                if (unit=="N") { dist = dist * 0.8684 }
                return dist
            }

            function showError(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        x.innerHTML = "User denied the request for Geolocation."
                        break;
                    case error.POSITION_UNAVAILABLE:
                        x.innerHTML = "Location information is unavailable."
                        break;
                    case error.TIMEOUT:
                        x.innerHTML = "The request to get user location timed out."
                        break;
                    case error.UNKNOWN_ERROR:
                        x.innerHTML = "An unknown error occurred."
                        break;
                }
                return false;
            }
        </script>
    </body>
</html>
